body {
    background-color: #f7f9fc;
  }
  
  .texto {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }
  
  /* Estilização específica para manter consistência e visual agradável */
  .texto h2 {
    color: #2a4d69;
  }
  
  .texto p {
    padding: 10px;
    color: #4f4f4f;
  }
  